pipeline/Filter Array.json
{
	"name": "Filter Array",
	"properties": {
		"activities": [
			{
				"name": "Filter Activity",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ArrayOfValues",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Filter Activity').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ArrayOfValues": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-01T12:06:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}