pipeline/UntilActivity.json
{
	"name": "UntilActivity",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "UntilProperty",
						"value": "Until Property using"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('FileAvaliable'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "adfdemo/Input/data.txt"
								},
								{
									"name": "Destination",
									"value": "adfdemo/Output/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "InputDataDataSet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "OuputDataDataset",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "aaaaaa",
									"value": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "InputDataDataSet",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					],
					"timeout": "00.00:00:10"
				}
			}
		],
		"variables": {
			"FileAvaliable": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-01T13:26:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}